// Background Colors
$background-light: #e6e6e6;
$scrollbar-light: #6a459b;

$secondary-light: #2f82ed;
$text-primary: #4f4f4f;
$text-secondary: #929292;

$dark-primary: #000;

// Base Colors
$red: #f7322f;
$yellow: #ffaf2e;
$green: #00d169;
$blue: #00a6ed;
$white: #f2f2f2;
