// Background Colors
$background-light: #e6e6e6;
$scrollbar-light: #6a459b;

$secondary-light: #2f82ed;
$text-secondary: #929292;

// Base Colors
$red: #f7322f;
$yellow: #ffaf2e;
$green: #00d169;
$blue: #00a6ed;
