<nav class="nav">
  <div class="search-content-wrapper">
    <a
      href="/"
      class="button logo-button"
      mat-icon-button
      aria-label="Go to home"
    >
      <span class="material-icons icon logo-icon"> play_arrow </span>
    </a>

    <!-- Search form -->
    <form class="form-container" aria-label="Video search form">
      <div class="search-input-wrapper">
        <input
          type="text"
          name="search"
          matInput
          placeholder="What do you want to find out?"
          (keyup)="onSearchChange(searchInput.value)"
          aria-label="Search input field"
          #searchInput
        />
      </div>

      <!-- Sorting/settings button -->
      <button
        class="button settings-button"
        (click)="onSettingsClick()"
        type="button"
        aria-label="Open settings"
        matTooltip="Sort the results"
      >
        <span class="material-icons icon"> tune </span>
      </button>
    </form>
  </div>

  <!-- User data -->
  <div class="user-data-wrapper">
    <a
      [routerLink]="['/favorites']"
      class="button"
      aria-label="Favorite videos"
      matTooltip="Your favorite videos"
    >
      <span class="material-icons icon"> favorite </span>
    </a>
    <p class="user-name">Your name</p>
    <a
      routerLink="/admin"
      class="button"
      aria-label="User profile"
      matTooltip="Add new card"
    >
      <span class="material-icons icon"> add_circle </span>
    </a>
    @if (this.authService.data$ | async) {
    <app-button class="logout-button" (click)="onLogout()" aria-label="Logout">
      Logout
    </app-button>
    } @else {
    <app-button class="logout-button" routerLink="/login" aria-label="Login">
      Login
    </app-button>
    }
  </div>
</nav>
