<nav class="nav">
  <div class="search-content-wrapper">
    <a href="/" class="button logo-button" mat-icon-button>
      <span class="material-icons icon logo-icon"> play_arrow </span>
    </a>
    <form class="form-container" (ngSubmit)="onSubmit()" aria-label="Search Form">
      <div class="search-input-wrapper">
        <input
          type="text"
          name="search"
          matInput
          placeholder="What do you want to find out?"
          [(ngModel)]="searchString"
          aria-label="Search input field"
        />
        <button mat-flat-button class="button" aria-label="Search">search</button>
      </div>
      <button class="button settings-button" (click)="onSettingsClick()" type="button" aria-label="Open settings">
        <span class="material-icons icon"> tune </span>
      </button>
    </form>
  </div>

  <div class="user-data-wrapper">
    <p class="user-name">Your name</p>
    <a href="/" class="button" aria-label="Go to user profile">
      <span class="material-icons icon"> account_circle </span>
    </a>
  </div>
</nav>
