<div class="video-details-container">
  <button class="back-btn" (click)="goBack()" aria-label="Go back">
    <span class="material-icons arrow-icon"> arrow_back </span>
  </button>

  <!-- Card (Could be moved to another component though) -->
  <div class="card">
    <div class="thumbnail-wrapper">
      <img [src]="imageUrl" class="img" alt="Video thumbnail" />
    </div>
    <div class="details-wrapper" appUploadAge [publishedAt]="publishedAt">
      <div class="title-upload-date-container">
        <h3 class="title">{{ title }}</h3>
        <p class="upload-date">
          {{ publishedAt | date : "EEEE, MMMM dd, YYYY" }}
        </p>
      </div>
      <p class="description">{{ description }}</p>
      @if(isApiCard) {
      <div class="stats-container">
        <div class="stat">
          <span class="material-icons"> visibility </span>
          {{ viewCount }}
        </div>
        <div class="stat">
          <span class="material-icons"> thumb_up </span>
          {{ likeCount }}
        </div>

        <div class="stat">
          <span class="material-icons"> content_copy </span>
          {{ commentCount }}
        </div>
      </div>
      } @else {
      <div class="tags-container">
        @for(tag of tags; track tag) {
        <div class="tag">{{ tag }}</div>
        }
      </div>

      }
    </div>
  </div>
</div>
