<nav class="nav">
  <div class="search-content-wrapper">
    <a href="/" class="button logo-button" mat-icon-button>
      <span class="material-icons icon logo-icon"> play_arrow </span>
    </a>
    <form class="form-container">
      <div class="search-input-wrapper">
        <input matInput placeholder="ASD" />
        <button mat-flat-button class="button">search</button>
      </div>
      <a class="button settings-button">
        <span class="material-icons icon"> tune </span>
      </a>
    </form>
  </div>

  <div class="user-data-wrapper">
    <p class="user-name">Your name</p>
    <a href="" class="button">
      <span class="material-icons icon"> account_circle </span>
    </a>
  </div>
</nav>
