<nav class="nav">
  <div class="search-content-wrapper">
    <a href="/" class="button logo-button" mat-icon-button>
      <span class="material-icons icon logo-icon"> play_arrow </span>
    </a>
    <form class="form-container" (ngSubmit)="onSubmit()" name="searchForm">
      <div class="search-input-wrapper">
        <input
          type="text"
          name="search"
          matInput
          placeholder="What do you want to find out?"
          [(ngModel)]="searchString"
        />
        <button mat-flat-button class="button">search</button>
      </div>
      <button class="button settings-button" (click)="onSettingsClick()">
        <span class="material-icons icon"> tune </span>
      </button>
    </form>
  </div>

  <div class="user-data-wrapper">
    <p class="user-name">Your name</p>
    <a href="" class="button">
      <span class="material-icons icon"> account_circle </span>
    </a>
  </div>
</nav>
