@import "../../../styles/colors.scss";

.login-page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 22rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 5px;
  overflow: hidden;
}

.form-header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.action-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.form-error-text {
  margin: 0.2rem;
  font-size: 0.8rem;
  color: red;
}
