.cards-wrapper {
  margin-top: 4rem;
  width: 100%;

  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.header {
  margin-inline: auto;
  text-align: center;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
  margin-inline: auto;

  .empty-icon {
    font-size: 8rem;
    margin-bottom: 0.8rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}
