@import "../node_modules/modern-normalize/modern-normalize.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 20px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #6a459b;
  border-radius: 3px;
}
