<a
  [routerLink]="['/results/videos', video.id]"
  routerLinkActive="router-link-active"
>
  <mat-card
    appearance="outlined"
    appUploadAge
    [publishedAt]="video.snippet.publishedAt"
  >
    <mat-card-header>
      <img
        mat-card-image
        [src]="video.snippet.thumbnails.medium.url"
        alt="Video's thumbnail"
      />
    </mat-card-header>

    <mat-card-actions>
      <div class="stat-container">
        <i class="material-icons"> visibility </i>
        <p>{{ video.statistics.viewCount }}</p>
      </div>
      <div class="stat-container">
        <i class="material-icons"> thumb_up </i>
        <p>{{ video.statistics.likeCount }}</p>
      </div>
      <div class="stat-container">
        <i class="material-icons"> chat </i>
        <p>{{ video.statistics.commentCount }}</p>
      </div>
    </mat-card-actions>

    <mat-card-content>
      <p>
        {{ video.snippet.title }}
      </p>
      <app-button>more...</app-button>
    </mat-card-content>
  </mat-card>
</a>
