<mat-card appearance="outlined" appUploadAge [publishedAt]="publishedAt">
  <mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="Video's thumbnail" />
  </mat-card-header>

  <mat-card-actions>
    <div class="stat-container">
      <i class="material-icons"> visibility </i>
      <p>{{ viewCount }}</p>
    </div>
    <div class="stat-container">
      <i class="material-icons"> thumb_up </i>
      <p>{{ likeCount }}</p>
    </div>
    <div class="stat-container">
      <i class="material-icons"> chat </i>
      <p>{{ commentCount }}</p>
    </div>
  </mat-card-actions>

  <mat-card-content>
    <p>{{ title }}</p>
    <div class="horizontal-container">
      <a
        [routerLink]="['/results/videos', video.id]"
        routerLinkActive="router-link-active"
        >more...</a
      >
      <!-- <span class="material-icons"> favorite </span> -->
      <button class="button" (click)="addToFavorites(video)">
        <span class="material-icons"> favorite_border </span>
      </button>

      @if(!isApiCard) {
      <span class="material-icons button" (click)="deleteCard(video.id)">
        delete
      </span>
      }
    </div>
  </mat-card-content>
</mat-card>
